<html>
    <head>
        <title>{% block title %}This is my new project home page{% endblock title %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600,light&v1" >
        <style>
            h1  /* titre de niveau 1 */
                {
                    font-family: 'Open Sans Light', Arial, sans-serif;
                    font-weight: 300;
                    font-style: normal;
                    font-size: 34px;
                    color: #7ba686;
                    
                }

            h3  /* titre de niveau 3 */
                {
                    font-family: 'Open Sans Italic', Arial, sans-serif;
                    font-weight: 400;
                    font-style: italic;
                    font-size: 16px;
                    height: 37px;
                    line-height: 22px;
                    color: #125b30;
                    display: inline;
                }

            body.backbody
                {
                    background-color: #f6f9f7;
                    width: 100%;
                    height: 100%;
                }
                
            #main_content   /* middle */
                {
                    width: 960px;
                    margin: auto;
                    vertical-align: middle;
                }
                
            #text-content   /* contenu  */
                {
                    font-family: 'Open Sans Regular', Arial, sans-serif;
                    font-weight: normal;
                    font-style: normal;
                    font-size: 18px;
                    color: #125b30;
                     margin-bottom: 60px;
                     display: block;
                }

            #text-content p  /* contenu  */
                {
                    text-align: justify;
                    width: 580px;
                    display: block;
                    line-height: 27px; /* interligne */
                    margin-bottom: 50px;
                }

        </style>
    </head>
    <body class="backbody">
        <div id="main_content">
                <div id="left">
                   
        <div id="text-content">
            <h1>BCIS.CH<br />
                Statuts</h1>

        <h3>Art. 1. Nom et si&egrave;ge</h3>

        <p>Sous les noms Biodiversity Conservation Information Systems, Syst&egrave;mes d&rsquo;Information pour la Conservation de la Biodiversit&eacute; et Informationssysteme zur Erhaltung der Biodiversit&auml;t est constitu&eacute;e une association au sens de l&rsquo;article 60 et suivants du code civil suisse. Le si&egrave;ge de l&rsquo;association est &agrave; Neuch&acirc;tel (NE). En abr&eacute;g&eacute;, l&rsquo;association est d&eacute;sign&eacute;e par l&rsquo;acronyme <strong>BCIS.CH</strong> .</p>

        <h3>Art. 2. Buts</h3>

        <p><strong>1.</strong> Fournir une plateforme sur laquelle les acteurs de la conservation des ressources biologiques et de la biodiversit&eacute; qui le souhaitent, puissent g&eacute;rer et &eacute;changer des informations concernant leurs projets, leurs r&eacute;alisations, leurs probl&egrave;mes et leurs activit&eacute;s en g&eacute;n&eacute;ral.</p>

        <p><strong>2.</strong> D&eacute;velopper l&rsquo;usage de standards permettant de d&eacute;crire les ressources biologiques de notre plan&egrave;te et d&rsquo;&eacute;changer des informations y relatives.</p>

        <p><strong>3.</strong> Fournir une expertise aux institutions, associations, hautes &eacute;coles, autorit&eacute;s, ainsi qu&rsquo;au public et aux entreprises, dans le domaine de la gestion de l&rsquo;information relative &agrave; la conservation de la biodiversit&eacute;.</p>

        <p><strong>BCIS.CH</strong> ne poursuit pas de but lucratif.</p>

        <h3>Art. 3. Moyens</h3>

        <p>Pour r&eacute;aliser ses objectifs, <strong>BCIS.CH</strong> dispose des cotisations de ses membres et de leurs contributions qui peuvent prendre la forme d&#39;un engagement personnel, de travail, de fournitures en connaissances, en donn&eacute;es, en logiciel ou en mat&eacute;riel, ou de versements en nature ou en argent. L&#39;association peut accepter des dons de toute nature de la part de personnes qui ne sont pas membres, ainsi que des subventions ou des financements dans le cadre de projets d&rsquo;institutions officielles, d&rsquo;instituts de recherche ou d&rsquo;&eacute;ducation, de fondations, d&rsquo;entreprises ou d&rsquo;individus.</p>

        <p>En outre, <strong>BCIS.CH</strong> peut ex&eacute;cuter contre r&eacute;mun&eacute;ration des mandats ou d&eacute;livrer des prestations de services de toute nature compatible avec ses objectifs.</p>

        <p><strong>BCIS.CH</strong> emploie activement les moyens issus des technologies de l&#39;information et de la communication pour d&eacute;velopper et soutenir son action par l&#39;information de ses membres et du public et par la communication de ses vues et de ses activit&eacute;s.</p>

        <h3>Art. 4. Organes</h3>

        <p>Les organes de <strong>BCIS.CH</strong> sont :<br />
        <strong>1.</strong> L&#39;Assembl&eacute;e des membres<br />
        <strong>2.</strong> Le Comit&eacute; ex&eacute;cutif</p>

        <h3>Art. 5. Assembl&eacute;e des membres</h3>

        <p>L&#39;Assembl&eacute;e des membres est l&#39;organe supr&ecirc;me de BCIS.CH. Elle se r&eacute;unit au moins une fois par ann&eacute;e. D&#39;autres r&eacute;unions de l&#39;assembl&eacute;e peuvent &ecirc;tre convoqu&eacute;es par le Comit&eacute; ex&eacute;cutif si ce dernier le juge n&eacute;cessaire. Le Comit&eacute; ex&eacute;cutif est tenu de convoquer l&#39;Assembl&eacute;e des membres si un tiers des membres le demande. Lors des votes de l&#39;Assembl&eacute;e des membres, la voix du Pr&eacute;sident d&eacute;cide en cas d&#39;&eacute;galit&eacute;. Les droits et devoirs de l&#39;Assembl&eacute;e des membres sont:</p>
        
        <p><strong>1.</strong> L&#39;&eacute;lection du Pr&eacute;sident, du Caissier et des v&eacute;rificateurs des comptes, et l&#39;acceptation sur proposition du Pr&eacute;sident des membres du Comit&eacute; ex&eacute;cutif.</p>
        
        <p><strong>2.</strong> L&#39;approbation des comptes annuels et du rapport des v&eacute;rificateurs des comptes portant sur l&rsquo;exercice pr&eacute;c&eacute;dant sa tenue.</p>

        <p><strong>3.</strong> L&#39;approbation du budget annuel de l&rsquo;exercice qui suit sa tenue.</p>

        <p><strong>4.</strong> L&rsquo;approbation de toute modification des statuts.</p>

        <p><strong>5.</strong> La dissolution de l&#39;association.</p>
        
        <p><strong>6.</strong> L&rsquo;acceptation de nouveaux membres.</p>

        <p><strong>7.</strong> En cas de recours &agrave; l&rsquo;assembl&eacute;e par ce dernier, l&rsquo;examen de la d&eacute;cision d&rsquo;exclusion d&rsquo;un membre.</p>

        <p>Les d&eacute;cisions de l&#39;Assembl&eacute;e des membres sont prises &agrave; la majorit&eacute; simple des membres pr&eacute;sents, &agrave; l&rsquo;exception des points 4 et 5 ci-dessus qui requi&egrave;rent une majorit&eacute; des 2/3 des membres de l&rsquo;association. Lors de la r&eacute;union de l&#39;Assembl&eacute;e, chaque membre dispose d&#39;une voix.</p>

        <h3>Art. 6. Comit&eacute; ex&eacute;cutif</h3>

        <p>Le Comit&eacute; ex&eacute;cutif repr&eacute;sente <strong>BCIS.CH</strong> vis &agrave; vis de toutes les instances publiques ou priv&eacute;es. Il entreprend au nom de l&#39;association les actions n&eacute;cessaires pour atteindre les buts fix&eacute;s dans les statuts. Il pr&eacute;sente chaque ann&eacute;e &agrave; l&#39;Assembl&eacute;e des membres un rapport d&#39;activit&eacute;s, les comptes annuels, un projet de budget et un programme d&#39;activit&eacute;s pour l&#39;ann&eacute;e suivante.<br />
    
        Le Comit&eacute; ex&eacute;cutif discute les propositions de projets et de mandats re&ccedil;us par l&rsquo;association ou soumis par les membres. Il d&eacute;cide des modalit&eacute;s d&rsquo;engagement de l&rsquo;association sur ces objets. Le Comit&eacute; ex&eacute;cutif peut proposer des projets et rechercher activement des mandats. Ses d&eacute;cisions ne sont pas soumises &agrave; l&rsquo;approbation de l&rsquo;assembl&eacute;e des membres.</p>

        <p>Le Comit&eacute; ex&eacute;cutif comprend un Pr&eacute;sident ou une Pr&eacute;sidente, au moins un Vice-pr&eacute;sident ou une Vice-pr&eacute;sidente, un Caissier ou une Caissi&egrave;re et un ou une Secr&eacute;taire. Le Pr&eacute;sident et le Caissier sont &eacute;lus par l&#39;Assembl&eacute;e des membres. Les autres membres du Comit&eacute; ex&eacute;cutif qui ne sont pas des membres fondateurs sont d&eacute;sign&eacute;s par le Pr&eacute;sident et ce choix est soumis &agrave; l&#39;approbation de l&#39;Assembl&eacute;e des membres. Les &eacute;lections et d&eacute;signations dans les fonctions mentionn&eacute;es ci-dessus sont renouvel&eacute;es chaque ann&eacute;e.</p>

        <p>Le Comit&eacute; ex&eacute;cutif est pr&eacute;sid&eacute; lors de ses s&eacute;ances par le Pr&eacute;sident ou la Pr&eacute;sidente de l&rsquo;association. Les Vice-pr&eacute;sident-e-s et le ou la Secr&eacute;taire sont ses suppl&eacute;ants. En dehors de ces &eacute;l&eacute;ments, le Comit&eacute; ex&eacute;cutif s&rsquo;organise lui-m&ecirc;me.<br />
        Outres les obligations d&eacute;crites dans les paragraphes pr&eacute;c&eacute;dents, les droits et les devoirs du Comit&eacute; ex&eacute;cutif sont en particulier:</p>

        <p><strong>1.</strong> Convoquer l&#39;Assembl&eacute;e des membres. L&#39;invitation et l&#39;ordre du jour sont envoy&eacute;s &agrave; tous les membres au moins 20 jours avant la date de l&#39;Assembl&eacute;e. L&#39;invitation doit se faire soit par &eacute;crit soit par courriel. Elle est publi&eacute;e sur le site de <strong>BCIS.CH</strong> . En outre, la date pr&eacute;vue de la prochaine Assembl&eacute;e des membres est publi&eacute;e sur le site de BCIS.CH au moins 2 mois avant l&#39;&eacute;v&eacute;nement.</p>

        <p><strong>2.</strong> Mettre &agrave; l&#39;ordre du jour de l&#39;Assembl&eacute;e des membres toute demande &eacute;manant d&#39;un membre ou d&#39;un groupe de membres et ayant &eacute;t&eacute; envoy&eacute;e au Comit&eacute; ex&eacute;cutif au moins 30 jours avant la date pr&eacute;vue de la prochaine Assembl&eacute;e des membres.</p>

        <p><strong>3.</strong> Fixer les cotisations des membres pour une ann&eacute;e.</p>

        <h3>Art. 7. Membres fondateurs</h3>

        <p>Les membres fondateurs de l&rsquo;association sont Rapha&euml;l H&auml;ner, Claude Paroz, Alain Sandoz et Beate Schierscher-Viret. Leur qualit&eacute; de membre de l&rsquo;association est inali&eacute;nable, sauf d&eacute;mission de leur part signifi&eacute;e par &eacute;crit au Comit&eacute; ex&eacute;cutif.<br />
        Les membres fondateurs sont d&rsquo;office membres du Comit&eacute; ex&eacute;cutif. Ils peuvent se faire repr&eacute;senter dans cette qualit&eacute; par une personne de leur choix.</p>

        <h3>Art 8. Membres</h3>

        <p>Outre les membres fondateurs, les membres de l&rsquo;association sont des personnes, des institutions, des associations, des entreprises, ou des groupements comprenant des personnes, des institutions, des associations et/ou des entreprises. Les nouveaux membres sont propos&eacute;s par le Comit&eacute; ex&eacute;cutif dont la d&eacute;cision est soumise au vote de l&rsquo;Assembl&eacute;e des membres.</p>

        <p>Les personnes morales doivent &ecirc;tre valablement repr&eacute;sent&eacute;es pour participer &agrave; toute activit&eacute; de l&rsquo;association. La qualit&eacute; de membre devient effective d&egrave;s lors qu&rsquo;elle a &eacute;t&eacute; accept&eacute;e par les organes de l&rsquo;association et que le nouveau membre ou ses repr&eacute;sentants ont sign&eacute; le registre des membres. Les adresses des membres de l&rsquo;association ne peuvent &ecirc;tre ni vendues, ni transmises &agrave; des tiers sans l&#39;approbation &eacute;crite des membres concern&eacute;s. Le registre des membres est accessible &agrave; tous les membres de <strong>BCIS.CH</strong> .</p>

        <h3>Art 9. D&eacute;mission</h3>

        <p>Un membre ordinaire de <strong>BCIS.CH</strong> peut annoncer en tout temps sa d&eacute;mission, par &eacute;crit, au Comit&eacute; ex&eacute;cutif. Elle prend effet trois mois apr&egrave;s que ce dernier ait re&ccedil;u la notification de la d&eacute;mission ou au plus tard lors de la prochaine Assembl&eacute;e des membres. Le membre d&eacute;missionnaire n&#39;a aucun droit sur la fortune de l&#39;association. Le Comit&eacute; ex&eacute;cutif peut exclure un membre ordinaire en tout temps sans motif. Le membre exclu peut saisir de la d&eacute;cision d&#39;exclusion l&#39;Assembl&eacute;e des membres, qui en d&eacute;cidera. L&#39;Assembl&eacute;e des membres est inform&eacute;e de toute exclusion ayant &eacute;t&eacute; d&eacute;cid&eacute;e au cours de l&#39;exercice pr&eacute;c&eacute;dant sa tenue.</p>

        <h3>Art. 10. V&eacute;rificateurs des comptes</h3>

        <p>Les v&eacute;rificateurs comprennent un premier et un second v&eacute;rificateur, ainsi qu&#39;un suppl&eacute;ant. Ils peuvent &ecirc;tre membre du Comit&eacute; ex&eacute;cutif si le nombre de membres de l&rsquo;association n&rsquo;est pas suffisant pour que ces fonctions soient assum&eacute;es en dehors de ce comit&eacute;. L&#39;Assembl&eacute;e des membres &eacute;lit chaque ann&eacute;e un nouveau suppl&eacute;ant. Le premier v&eacute;rificateur se retire, le second prend sa place. L&#39;ancien suppl&eacute;ant devient le deuxi&egrave;me v&eacute;rificateur. La r&eacute;&eacute;lection est admissible. Les v&eacute;rificateurs des comptes contr&ocirc;lent les comptes annuels et la tenue des livres comptables de l&#39;association.</p>

        <h3>Art. 11. Engagement de BCIS.CH</h3>

        <p><strong>BCIS.CH</strong> est valablement engag&eacute;e par la signature collective &agrave; deux du Pr&eacute;sident et du Caissier pour toute question engageant les finances. Pour toute autre question BCIS.CH est valablement engag&eacute;e par la signature collective &agrave; deux du Pr&eacute;sident ou de l&rsquo;un de ses suppl&eacute;ants qui exerce cette fonction, et d&#39;un autre membre du Comit&eacute; ex&eacute;cutif.</p>

        <h3>Art. 12. Responsabilit&eacute;s</h3>

        <p>Les dettes de l&#39;association sont couvertes exclusivement par la fortune de l&#39;association. La responsabilit&eacute; personnelle de ses membres est exclue.</p>

        <h3>Art. 13. Dissolution</h3>

        <p>La dissolution de <strong>BCIS.CH</strong> peut &ecirc;tre propos&eacute;e par le Comit&eacute; ex&eacute;cutif ou par la motion d&#39;un tiers des membres actifs. Chaque membre fondateur encore actif dans l&rsquo;association peut y opposer son veto. La dissolution ne peut &ecirc;tre prononc&eacute;e que par une Assembl&eacute;e des membres d&ucirc;ment convoqu&eacute;e et r&eacute;unissant au moins deux tiers des membres actifs. Si ce nombre n&#39;est pas atteint lors d&#39;une premi&egrave;re tenue de l&#39;Assembl&eacute;e, une deuxi&egrave;me Assembl&eacute;e sera convoqu&eacute;e et sera comp&eacute;tente pour d&eacute;cider la dissolution de l&#39;association &agrave; la majorit&eacute; simple. S&#39;il r&eacute;sulte un surplus de la liquidation des biens de l&#39;association, celui-ci sera affect&eacute; &agrave; un but d&#39;int&eacute;r&ecirc;t g&eacute;n&eacute;ral.</p>
        
        <p>Accept&eacute; lors de l&#39;assembl&eacute;e constituante &agrave; Neuch&acirc;tel, le 9 septembre 2009</p>

        <p>La Pr&eacute;sidente: Beate Schierscher</p>

        <p>Le Vice-pr&eacute;sident: Claude Paroz</p>

        <p>Le Secr&eacute;taire: Rapha&euml;l H&auml;ner</p>

        <p>Le Caissier: Alain Sandoz</p>
        </div>

        <p>&nbsp;</p>
        </div>
    </body>
</html>

